# Destination publique de la page /rendez-vous.
# Ces valeurs sont intégrées au build Next.js. Toute modification impose un nouveau déploiement.
NEXT_PUBLIC_CALENDAR_PROVIDER_NAME=Cal.eu
NEXT_PUBLIC_CALENDAR_URL=https://www.cal.eu/florianbrignoli/quick-chat
